{
    "openapi": "3.0.0",
    "info": {
        "title": "Tumblr Api Documentation",
        "description": "L5 Swagger OpenApi description",
        "contact": {
            "email": "admin@admin.com"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://my-default-host.com",
            "description": "Demo API Server"
        }
    ],
    "paths": {
        "Blog/": {
            "post": {
                "tags": [
                    "Blog"
                ],
                "summary": "Create new Blog",
                "description": "User create new Blog ",
                "operationId": "Create",
                "parameters": [
                    {
                        "name": "Title",
                        "in": "query",
                        "required": true
                    },
                    {
                        "name": "Url",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "Privacy",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "Password",
                        "in": "query",
                        "required": false
                    }
                ],
                "requestBody": {
                    "description": "Pass user credentials",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "Title"
                                ],
                                "properties": {
                                    "Title": {
                                        "type": "string",
                                        "format": "text",
                                        "example": "Summer_Blog"
                                    },
                                    "url": {
                                        "type": "string",
                                        "format": "url",
                                        "example": "example.tumblr.com"
                                    },
                                    "Privacy": {
                                        "type": "boolean",
                                        "example": "true"
                                    },
                                    "Password": {
                                        "type": "string",
                                        "format": "Password",
                                        "example": "pass123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created Successfully"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "422": {
                        "description": "Invalid Data",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Blog url is not available!"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Blog"
                ],
                "summary": "Delete Specific Blog",
                "description": "User Delete Specific Blog ",
                "operationId": "Delete",
                "parameters": [
                    {
                        "name": "Email",
                        "in": "query",
                        "required": true
                    },
                    {
                        "name": "Password",
                        "in": "query",
                        "required": true
                    }
                ],
                "requestBody": {
                    "description": "Pass user credentials",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "Email",
                                    "Password"
                                ],
                                "properties": {
                                    "Email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "Email@gmail.com"
                                    },
                                    "Password": {
                                        "type": "string",
                                        "format": "Password",
                                        "example": "Password123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "422": {
                        "description": "Invalid Data",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "msg": {
                                            "type": "integer",
                                            "example": 422
                                        },
                                        "status": {
                                            "type": "string",
                                            "example": "That password is incorrect. Please try again"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "Blog/{blog-identifier}/followed_by": {
            "get": {
                "tags": [
                    "Blog"
                ],
                "summary": "blog/Followed_by",
                "description": "This method can be used to check if one of your blogs is followed by another blog",
                "operationId": "Followed_by",
                "parameters": [
                    {
                        "name": "blog-identifier",
                        "in": "query",
                        "required": true
                    }
                ],
                "requestBody": {
                    "description": "Pass user credentials",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "blog-identifier"
                                ],
                                "properties": {
                                    "blog-identifier": {
                                        "type": "string",
                                        "format": "text",
                                        "example": "summer_blog"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "404": {
                        "description": "Not Found"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "200": {
                        "description": "sucess",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Status": {
                                            "type": "integer",
                                            "example": 200
                                        },
                                        "msg": {
                                            "type": "string",
                                            "example": "OK"
                                        },
                                        "response": {
                                            "type": "string",
                                            "example": "{followed_by : false}"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "blog/{blog-identifier}/followers": {
            "get": {
                "tags": [
                    "Blog"
                ],
                "summary": "blog/follows",
                "description": "This method can be used to get followers for specific Blog",
                "operationId": "followers",
                "parameters": [
                    {
                        "name": "blog-identifier",
                        "in": "query",
                        "required": true
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The number of results to return: 1–20",
                        "required": false
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Result to start at",
                        "required": false
                    }
                ],
                "requestBody": {
                    "description": "Pass user credentials",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "blog-identifier"
                                ],
                                "properties": {
                                    "blog-identifier": {
                                        "type": "string",
                                        "format": "text",
                                        "example": "summer_blog"
                                    },
                                    "limit": {
                                        "type": "integer",
                                        "format": "integer",
                                        "example": 10
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "404": {
                        "description": "Not Found"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "200": {
                        "description": "sucess",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Meta": {
                                            "properties": {
                                                "Status": {
                                                    "type": "integer",
                                                    "example": 200
                                                },
                                                "msg": {
                                                    "type": "string",
                                                    "example": "OK"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "response": {
                                            "properties": {
                                                "total_users": {
                                                    "type": "integer",
                                                    "example": 1235
                                                },
                                                "Users": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "name": {
                                                                "type": "string",
                                                                "example": "david"
                                                            },
                                                            "following": {
                                                                "type": "Boolean",
                                                                "example": true
                                                            },
                                                            "Url": {
                                                                "type": "string",
                                                                "example": "https:www.davidslog.com"
                                                            },
                                                            "updated": {
                                                                "type": "integer",
                                                                "example": 1308781073
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/posts": {
            "post": {
                "tags": [
                    "posts"
                ],
                "summary": "create new post",
                "operationId": "create",
                "parameters": [
                    {
                        "name": "content",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "Array"
                        }
                    },
                    {
                        "name": "layout",
                        "in": "query",
                        "description": "there are different types of layout for posts",
                        "required": false,
                        "schema": {
                            "type": "Array"
                        }
                    },
                    {
                        "name": "state",
                        "in": "query",
                        "description": "the state of the post. Specify one of the following: published, draft, queue, private",
                        "required": false,
                        "schema": {
                            "type": "String"
                        }
                    },
                    {
                        "name": "publish_on",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "String"
                        }
                    },
                    {
                        "name": "tags",
                        "in": "query",
                        "description": "Comma-separated tags for this post",
                        "required": false,
                        "schema": {
                            "type": "String"
                        }
                    },
                    {
                        "name": "date",
                        "in": "query",
                        "description": "The GMT date and time of the post, as a string",
                        "required": false,
                        "schema": {
                            "type": "String"
                        }
                    },
                    {
                        "name": "source_url",
                        "in": "query",
                        "description": "A source attribution for the post content",
                        "required": false,
                        "schema": {
                            "type": "String"
                        }
                    },
                    {
                        "name": "slug",
                        "in": "query",
                        "description": "Add a short text summary to the end of the post URL",
                        "required": false,
                        "schema": {
                            "type": "String"
                        }
                    },
                    {
                        "name": "send_to_twitter",
                        "in": "query",
                        "description": "Whether or not to share this via any connected Twitter account on post publish",
                        "required": false,
                        "schema": {
                            "type": "Boolean"
                        }
                    },
                    {
                        "name": "is_private",
                        "in": "query",
                        "description": "Whether this should be a private answer, if this is an answer.",
                        "required": false,
                        "schema": {
                            "type": "Boolean"
                        }
                    },
                    {
                        "name": "send_to_facebook",
                        "in": "query",
                        "description": "Whether or not to share this via any connected Facebook account on post publish",
                        "required": false,
                        "schema": {
                            "type": "Boolean"
                        }
                    }
                ],
                "responses": {
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "201": {
                        "description": "Successfully Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Meta": {
                                            "properties": {
                                                "Status": {
                                                    "type": "integer",
                                                    "example": 201
                                                },
                                                "msg": {
                                                    "type": "string",
                                                    "example": "Created"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "response": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1234567891234567
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/posts/edit": {
            "put": {
                "tags": [
                    "posts"
                ],
                "summary": "Edit existing Post",
                "operationId": "edit",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "the ID of the post to edit",
                        "required": true,
                        "schema": {
                            "type": "Number"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Pass user credentials",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "id"
                                ],
                                "properties": {
                                    "id": {
                                        "type": "number",
                                        "format": "text",
                                        "example": "12546899"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "200": {
                        "description": "Successfully edited",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Meta": {
                                            "properties": {
                                                "Status": {
                                                    "type": "integer",
                                                    "example": 200
                                                },
                                                "msg": {
                                                    "type": "string",
                                                    "example": "OK"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/post/{post-id}": {
            "post": {
                "tags": [
                    "posts"
                ],
                "summary": "fetch a post for editing",
                "operationId": "edit",
                "parameters": [
                    {
                        "name": "post_fromat",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "String"
                        }
                    }
                ],
                "responses": {
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "200": {
                        "description": "successful post fetching"
                    }
                }
            }
        },
        "/post/delete": {
            "delete": {
                "tags": [
                    "posts"
                ],
                "summary": "delete existing post",
                "operationId": "destroy",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "the ID of the post to delete",
                        "required": true,
                        "schema": {
                            "type": "Number"
                        }
                    }
                ],
                "responses": {
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "200": {
                        "description": "successfully deleted"
                    }
                }
            }
        },
        "/posts/reblog": {
            "post": {
                "tags": [
                    "posts"
                ],
                "summary": "Reblog existing Post",
                "operationId": "reblog",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "the ID of the reblogged post",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "reblog_key",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "comment",
                        "in": "query",
                        "description": "comment added to the reblogged post",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "native_inline_images",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "201": {
                        "description": "Successfully Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Meta": {
                                            "properties": {
                                                "Status": {
                                                    "type": "integer",
                                                    "example": 201
                                                },
                                                "msg": {
                                                    "type": "string",
                                                    "example": "Created"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "post/notes": {
            "get": {
                "tags": [
                    "posts"
                ],
                "summary": "getting notes for specific post",
                "description": "This method can be used to get notes for specific post",
                "operationId": "getNotes",
                "parameters": [
                    {
                        "name": "blog-identifier",
                        "in": "query",
                        "required": true
                    },
                    {
                        "name": "before_timestamp",
                        "in": "query",
                        "description": "Fetch notes created before this timestamp",
                        "required": false,
                        "schema": {
                            "type": "Number"
                        }
                    },
                    {
                        "name": "mode",
                        "in": "query",
                        "description": "The response formatting mode {all , likes , conversation , rollup ,reblogs_with_tags }",
                        "required": false,
                        "schema": {
                            "type": "String"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Pass user credentials",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "id"
                                ],
                                "properties": {
                                    "id": {
                                        "type": "Number",
                                        "format": "text",
                                        "example": "1234567890000"
                                    },
                                    "before_timestamp": {
                                        "type": "Number",
                                        "format": "text",
                                        "example": "1234567890"
                                    },
                                    "mode": {
                                        "type": "string",
                                        "format": "text",
                                        "example": "all"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "404": {
                        "description": "Not Found"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "200": {
                        "description": "success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Meta": {
                                            "properties": {
                                                "Status": {
                                                    "type": "integer",
                                                    "example": 200
                                                },
                                                "msg": {
                                                    "type": "string",
                                                    "example": "OK"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "response": {
                                            "properties": {
                                                "total_users": {
                                                    "type": "integer",
                                                    "example": 1235
                                                },
                                                "Users": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "notes": {
                                                                "type": "Array"
                                                            },
                                                            "rollup_notes": {
                                                                "type": "Array"
                                                            },
                                                            "total_notes": {
                                                                "type": "Number",
                                                                "example": 125
                                                            },
                                                            "total_likes": {
                                                                "type": "Number",
                                                                "example": 12
                                                            },
                                                            "_links": {
                                                                "type": "Object",
                                                                "example": "http/...."
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "user/info": {
            "get": {
                "tags": [
                    "users"
                ],
                "summary": " retrieving the user’s account information ",
                "description": "This method can be used to  retrieve the user’s account information that matches the OAuth credentials submitted with the request",
                "operationId": "index",
                "responses": {
                    "404": {
                        "description": "Not Found"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "200": {
                        "description": "success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Meta": {
                                            "properties": {
                                                "Status": {
                                                    "type": "integer",
                                                    "example": 200
                                                },
                                                "msg": {
                                                    "type": "string",
                                                    "example": "OK"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "response": {
                                            "properties": {
                                                "following": {
                                                    "type": "Number",
                                                    "example": 263
                                                },
                                                "default_post_format": {
                                                    "description": "html, markdown, or raw",
                                                    "type": "String",
                                                    "example": "html"
                                                },
                                                "name": {
                                                    "description": "The user's tumblr short name",
                                                    "type": "String",
                                                    "example": "derekg"
                                                },
                                                "likes": {
                                                    "description": "The total count of the user's likes",
                                                    "type": "Number",
                                                    "example": 606
                                                },
                                                "blogs": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "name": {
                                                                "description": "the short name of the blog",
                                                                "type": "String",
                                                                "example": "derekg"
                                                            },
                                                            "url": {
                                                                "description": "the URL of the blog",
                                                                "type": "String",
                                                                "example": "https://derekg.org/"
                                                            },
                                                            "title": {
                                                                "description": "the title of the blog",
                                                                "type": "String",
                                                                "example": "Derek Gottfrid"
                                                            },
                                                            "primary": {
                                                                "description": "indicates if this is the user's primary blog",
                                                                "type": "Boolean",
                                                                "example": true
                                                            },
                                                            "followers": {
                                                                "description": "total count of followers for this blog",
                                                                "type": "Number",
                                                                "example": 33004929
                                                            },
                                                            "tweet": {
                                                                "description": "indicate if posts are tweeted auto, Y, N",
                                                                "type": "String",
                                                                "example": "Y"
                                                            },
                                                            "facebook": {
                                                                "description": "indicate if posts are sent to facebook Y, N",
                                                                "type": "String",
                                                                "example": "auto"
                                                            },
                                                            "type": {
                                                                "description": "indicates whether a blog is public or private",
                                                                "type": "String",
                                                                "example": "public"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "user/dashboard": {
            "get": {
                "tags": [
                    "users"
                ],
                "summary": " retrieving the user’s dashboard",
                "description": "This method can be used to  retrieve the user’s dashboard that matches the OAuth credentials submitted with the request",
                "operationId": "index",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The number of results to return: 1–20, inclusive",
                        "required": false,
                        "schema": {
                            "type": "Number"
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Post number to start at",
                        "required": false,
                        "schema": {
                            "type": "Number"
                        }
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "The type of post to return. Specify one of the following: text, photo, quote, link, chat, audio, video, answer",
                        "required": false,
                        "schema": {
                            "type": "String"
                        }
                    },
                    {
                        "name": "since_id",
                        "in": "query",
                        "description": "Return posts that have appeared after this ID; Use this parameter to page through the results: first get a set of posts, and then get posts since the last ID of the previous set.",
                        "required": false,
                        "schema": {
                            "type": "Number"
                        }
                    },
                    {
                        "name": "reblog_info",
                        "in": "query",
                        "description": "Indicates whether to return reblog information (specify true or false). Returns the various reblogged_ fields.",
                        "required": false,
                        "schema": {
                            "type": "Boolean"
                        }
                    },
                    {
                        "name": "notes_info",
                        "in": "query",
                        "description": "Indicates whether to return notes information (specify true or false). Returns note count and note metadata.",
                        "required": false,
                        "schema": {
                            "type": "Boolean"
                        }
                    }
                ],
                "responses": {
                    "404": {
                        "description": "Not Found"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "200": {
                        "description": "success"
                    }
                }
            }
        }
    },
    "tags": [
        {
            "name": "Projects",
            "description": "API Endpoints of Projects"
        }
    ],
    "security": [
        []
    ]
}